#rootIframe{
    /* margin-left: 40px; */
    height: 100%;
    /* width: 100%; */
}
#myList {
    list-style-type: none;
    display: flex;
    text-align: -webkit-center;

  }

  #iFrameDiv{
    height: 100%;
    background-color: white;
  }

#loader{
  margin-right: 55px;
  background-color: aquamarine;
}