#rootIframe{
    /* margin-left: 40px; */
    height: 100%;
    /* width: 100%; */
}
#myList {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
  }

  #iFrameDiv{
    height: 100%;
    background-color: white;
  }

#loader{
  margin-right: 55px;
  background-color: aquamarine;
}